[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework = "==3.12.4"
psycopg2-binary = "==2.9.2"
drf-yasg = "==1.20.0"
django-cors-headers = "==3.10.1"
djangorestframework-simplejwt = "==4.8.0"
djoser = "==2.1.0"
pillow = "==8.4.0"
gunicorn = "==20.1.0"
django-ckeditor = "==6.2.0"
django = "==3.2"
django-environ = "==0.8.1"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-django = "*"
colorlog = "*"

[requires]
python_version = "3.9"
