[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework = "*"
psycopg2-binary = "*"
drf-yasg = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
