dj-rest-auth @ git+https://github.com/iMerica/dj-rest-auth.git@8a460ecf9a72aec269b75160e5c97f7ed608e247
Django==3.2
django-allauth==0.44.0
django-cors-headers==3.7.0
django-debug-toolbar==3.2.2
django-dramatiq==0.9.1
django-environ==0.8.1
django-fsm==2.7.1
django-redis==4.12.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
docutils==0.16
dramatiq==1.10.0
drf-yasg==1.20.0
Envelopes==0.4
filelock==3.0.12
flake8==4.0.1
Flask==1.1.2
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
future==0.18.2
geocoder==1.38.1
geoip2==4.1.0
gevent==20.12.0
graypy==2.1.0
greenlet==0.4.17
hiredis==1.1.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
inflection==0.5.1
iniconfig==1.1.1
interrogate==1.5.0
ip2geotools==0.1.5
IP2Location==8.5.1
isort==5.7.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
itypes==1.2.0
Jinja2==2.11.3
jmespath==0.10.0
jsonfield==3.1.0
keyring==22.0.1
lazy-object-proxy==1.4.3
lxml==4.6.2
Mako==1.1.4
MarkupSafe==1.1.1
maxminddb==2.0.3
mccabe==0.6.1
msgpack==1.0.2
multidict==5.1.0
numpy==1.20.1
oauthlib==3.1.0
otpauth==1.0.1
packaging==20.9
parsel==1.6.0
pathtools==0.1.2
Pillow==8.0.1
pip-review==1.1.0
pkginfo==1.7.0
pluggy==1.0.0
prometheus-client==0.9.0
Protego==0.1.16
protobuf==3.14.0
psycopg2-binary==2.8.6
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pycryptodomex==3.9.7
PyDispatcher==2.0.5
pyflakes==2.4.0
Pygments==2.8.0
PyHamcrest==2.0.2
PyJWT==2.1.0
pylint==2.6.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyquery==1.4.3
pytest==6.2.5
pytest-django==4.4.0
python-dateutil==2.8.1
python-editor==1.0.4
python3-openid==3.2.0
pytz==2020.4
PyYAML==5.3.1
qrcode==6.1
queuelib==1.5.0
ratelim==0.1.6
raven==6.10.0
readme-renderer==28.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
schedule==1.0.0
Scrapy==2.4.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
SQLAlchemy==1.3.23
sqlparse==0.4.1
SSIM-PIL==1.0.10
tabulate==0.8.9
termcolor==1.1.0
timezonefinder==4.4.0
tinycss2==1.1.1
toml==0.10.2
tqdm==4.57.0
twine==3.3.0
Twisted==20.3.0
txaio==21.2.1
typed-ast==1.4.2
typing==3.7.4.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.2.2
w3lib==1.22.0
watchdog==0.8.3
watchdog-gevent==0.1.0
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
XlsxWriter==1.3.7
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
